<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>There are {{ count }} words in your text</h1>

    <a href="{% url 'home' %}"> Count Again </a>
    <h2>Your text is:</h2>
    {{ fulltext }}

    <h2>Word count</h2>
    
    {% for word, count_total in word_dict %}

    {{ word }} -- {{count_total}}
    <br>
    {% endfor %}


</body>
</html>